.animation{
    display: block;
    white-space: nowrap;
    width: 20ch;
    border-right: 2px solid;
    animation: typing 4s infinite steps(20);
    animation: blink .5 infinite step-end alternate;
    overflow: hidden;
}

.animationB{
    display: block;
    white-space: nowrap;
    width: 11ch;
    animation: typing .5s forwards;
    overflow: hidden;
}

.animationBOut {
    display: block;
    white-space: nowrap;
    width: 11ch;
    animation: typing-out .5s forwards;
    overflow: hidden;
}

.animationC {
    display: block;
    white-space: nowrap;
    width: 11ch;
    animation: typing .5s forwards;
    overflow: hidden;
}

.animationCOut {
    display: block;
    white-space: nowrap;
    width: 5ch;
    animation: typing-out .5s forwards;
    overflow: hidden;
}

@keyframes typing {
    from { width: 0; }
}

@keyframes typing-out {
    from {
        width: 50%;
    }
    to {
        width: 0;
    }
}

@keyframes blink {
    50% { border-color: transparent; }
}
